* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff !important;
}

select {
  width: 100%;
  padding: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  overflow-y: hidden;
  background-color: #111;
}
#__nuxt {
  height: 100vh;
}
.text-center {
  text-align: center;
}
option {
  color: #333 !important;
}

.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-box button {
  margin: 0 5px;
}

.table-box {
  background-color: #222 !important;
  margin-top: 10vh;
  box-shadow: 0 0 10px rgba(228, 226, 226, 0.61);
}

.show-btn {
  background-color: #27d !important;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 3vh 4vh !important;
}
.box {
  background-color: #222;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 0 20px rgba(228, 226, 226, 0.61);
  border: 1px solid #333;
  border-radius: 15px;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
